<!-- /templates/index.html  -->
{% extends 'base.html' %}

{% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>
<form method="post" name="target">
    <div class="form-row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Walk">Walks</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="HBR run">HBR runs</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Tennis">Tennis</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Alcohol">Alcohol</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Gardening">Gardening</button>
        </div>
        <div class="col-sm-2">
            <a href="/newitem" class="btn btn-block btn-primary" role="button">Add new item</a>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show: {{ title }}</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="items">
        <thead>
        <tr>
            <th style="width: 10.00%">date</th>
            <th style="width: 6.00%">usernames</th>
            <th style="width: 16.00%">summary</th>
            <th style="width: 40.00%">details</th>
            <th style="width: 6.00%">miles</th>
            <th style="width: 6.00%">stats</th>
            <th style="width: 6.00%">minutes</th>
            <th style="width: 5.00%"></th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr id="{{ item.id }}">
            <td>{{ item.date }}</td>
            <td>
                <ul style="list-style: none; padding-left: 0;">
                    {% for username in list_usernames %}
                    {% if username.id == item.id %}
                    <li>{{ username.username }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td> {{ item.summary }}</td>
            <td>
                <div style="max-height: 100px; overflow-y: auto;">
                    {{ item.storydet }}
                </div>
            </td>
            <td align="right"> {{ item.miles }}</td>
            <td align="right"> {{ item.stats }}</td>
            <td align="right"> {{ item.minutes }}</td>
            <td><a href="/edititem/{{ item.id }}">Edit</a></td>
            <td><a href="/cloneitem/{{ item.id }}">Clone</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
