		<link rel="stylesheet" href="bootstrap-datepicker.css">

	<!-- Bootstrap CSS -->
	<!-- <link href="../static/style.css" rel="stylesheet" type="text/css"> -->
	<!-- <link rel="stylesheet" href="../static/bootstrap.min.css"> -->

			<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
			<!-- <script src="../static/hez.js"></script> -->
			<!-- <script src="../static/jquery.min.js"></script> -->
			<!-- <script src="../static/bootsrap.min.js"></script> -->
			<!-- <script src="../static/moment.min.js"></script> -->
		
		
from app import db
from app.models import Fitness, Fitstory, Typefit, User, user_fit

items = Fitness.query.with_entities(Fitness.id, Fitness.date, Fitness.users, Fitness.summary).filter(Fitness.id==401).all()

items = Fitness.query.join(user_fit).join(User).with_entities(Fitness.id, Fitness.date, User.username, Fitness.summary).filter(Fitness.id==401).first()


h = Fitness.query.get(401)
u = h.users

u
[<User Dee>, <User Hez>]

print u[0]
<User Dee>  

w = u[0]

print (w)
Dee


u.split('.')

for x in attribute.split('.'): output = ', '.join([getattr(elem, x) 

for elem in output])
	value = getattr(Fitness, users)


Fitness.query.with_entities(Fitness.users.any).filter(Fitness.id==500)).all()


Richard Hesmondhalgh

Hesmondhalgh & Maloney

Hawthorn Dene, School Lane, West Hill, Ottery St. Mary, Devon EX11 1UP
Tel: 01404 815918



Hesmaloney Limited


Tel: 01404 815918 email: hesmaloney@gmail.com 

Unit 5a Old Power Way, Lowfields Business Park, Elland, West Yorkshire, England, HX5 9DE

The management company named in the Leases and its current registered office as shown at Companies House is: Chineham Ridge Flat Management Co. Limited, The Coach Hose, Worting Park, Basingstoke, England, RG23 8PX Company No. 01924457
